article.archive
  padding 0
  margin 2em auto

article
  position static

.archives-wrap
  .archive-year-wrap
    font-size 20px
    margin-top 2em
    margin-bottom 1em

  .archives
    article.archive-article
      padding 0 0 1em 2em
      
      .archive-article-inner
        font-size 13px

        .archive-article-header
          padding-left 30px

          .archive-time
            float left
            width 110px
            text-align right

          .archive-title
            display block
            margin-left 10em